/*
 * update  : 2013-06-21
 */
@charset "utf-8";
body.rtl,body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, select, textarea {direction: rtl;}
#universe_map .olLayerDiv{direction:ltr;}
body{text-align: right;}
h1,h2,h3,h4,h5,h6{text-align:right;}
.left{float: right; }
.right{float: left;}
.text_left,table, td, tr, th{text-align: right;}
.text_right,.text-right{text-align: left;}
/**/
.hidden_ul li a,select#languageSelect option,select#language,select.language_ltr,.language_ltr{direction: ltr; text-align: right}
/* float:left collection*/
.login_divc a,.top_right,.top_right_center #changeOrg,.top_right_bottom,.h-tool-icon,.dashboard_more,.selecte_contacts_right,.search,.w-contentblock_right,.rigth,.w-message img{float: left;}



/*float:right collection*/
.login_div,#proceed .span1,#proceed .span2,#proceed .span3,.select_diva .login-select,ul.topnav li,ul.topnav,.dashboarditem-title,.notificationlink li a, .notificationStatusBtns li a, #broadcastCount li span,
.icon_tabpanel_expand,.b-panel-title .title,.subtop_ul li,.tab_lst a,.subtop_ul span,.noti_content_div .span_panl div,.publishMessageCheckboxes label,.selecte_contacts_left,#bc_launchType_li .noti_div_a.clearfix span
,#div_deliverymethods .divc_a > span,.setting_rtl span,.btndiv .btn,.search_div,.table_infor,.userdiv_w,.div_panel,.two_selection,.editpanel-inner .b-incidents-tabs li,#journal_box .date_box,
ul.g_btnmenu li,.b-role-leftpanel,.topbox .logo_bg,.univ-select-contact,.univ-panel h5,.univ-panel .colselection,.open .univ-panel li,.topcontrols .tab_lst a, .gis_exclude_contacts .tab_lst a
,.w-contentblock_left,.widget-expansion,.search_location_div label,.gis_region_library .action_expand span, .gis_region_library .ico_docu span,.profile_nav,.profile_content,.canned_bc .item{float: right;}
.color_f.margin5_B.margin5-L > strong{text-align: right;display: block;}
.exclude_contacts_search .margin135-L.margin5-T{text-align: right}

/*text-align:left collection*/
.top_right .right span,.top_right_center #changeOrg,.noti_content_div p,.drag_add_a,.advanced-search-item button{text-align: left;}

/*text-align:right collection*/
.select_diva .login-select,.show_ul.help li a.b-panel-title .title,.noti_content_li h3,.multip_selectbox ul li,.noti_setting_ul,.label_w,.label_d,table.table_ipawslist tr td,.show_ul.noti_show_ul li a,
.table_infor,.table_infor td,.add_other,#inner_content,.b-panel-title .title,.advanced-search-item,.b-grid-single-table th,.g-table th,.g-table tr td,.drag_add_b,.b-grid-single-table td,#journal_box .date_box,
.reg_title h2,.reg_title,.login_divb3.reg_formpanel,.everbridge_gis_panel_body ul li,.w-contentblock table th,#gis_region_library ul li, .gis_search_location_ul li, .gis_polygon_tools ul li,
.gis_search_location_result,.gis_search_contact_ul,.toolbar,.olLayerDiv p,.olControlContactsLayerSwitcher,.everbridge_gis_basemap_ul,.universe_select span,.show_ul.help li a {text-align: right;}

/*padding-left collection*/
.top_right_bottom li{padding-left: 0}
.b-panel-title .title,.advancedsearch_div h3{padding-right: 10px;}
.custormreport_leftpanel{padding-left: 15px;}

/*padding-right collection*/
a.logout,.nitif_message1{margin-right: 5px;}
.b-ui-treepanel-hearder{padding-right: 13px;padding-left: 0}
.b-ui-treepanel-content.ui-state-active ,.b-ui-treepanel-content{padding-right: 26px; padding-left: 0; }
.messagetype_div,ul.g_btnmenu li{padding-right: 5px;}
.b-setting-panel{padding-right: 215px;padding-left: 0;}
#template_form_tabs .b-incidents-formpanel{padding-right: 100px; padding-left:inherit;}
.b-incidents-form-ct .b-incidents-menu-el li{padding: 10px 5px 10px 27px}
.b-role-rightpanel{padding-right:295px; padding-left: 0}
.gis_search_location_result_title{padding-right:15px;}
.toolbar.polytools .tool a{float: right;padding-right:25px; padding-left: 0px;}
.gis_region_library_li{padding-right: 20px; padding-left: 0;}
.everbridge_gis_panel_body li a{padding-right: 15px;padding-left: 0}
.b-node-level2 .b-node-text{padding-right: 20px;padding-left: 0;}
#categorysContainer .b-node-level2{padding:10px 15px 10px 0; }


/*margin-left collection*/
.login_divc a{margin-left: 85px;}
.margin5-R{margin-left: 5px !important;}
.margin25-R{margin-left: 25px; margin-right:0;}
.margin10-R {margin-left: 10px; margin-right: 0}
#div_deliverymethods,#filterName_div{clear: both;}
#template_form_tabs .b-incidents-editpanel{margin:20px 0px 10px 15px}
.b-incidents-form-ct .b-incidents-formpanel .whitebg{margin:10px 0 10px 10px;}
.incident_bigBox.stepwidth{margin-right: 270px;margin-left: 0;}
.b-setting-gis-tree{margin-left: 15px; margin-right: 0}
.left_mar {float: right;margin-right: 10px;}
.twitter-textcontent {margin-right: 24px  }
.everbridge_gis_panel_body ul{ margin: 5px 5px 5px 0;}
.profile_content{margin-right: 20px;margin-left: 0;}
.login_logo{ margin: 118px 10px 26px 0;}
.marigin310_L{margin-right: 310px;margin-left: 0;border-right:1px solid #cccccc;border-left:none;}



/*margin-right collection*/
ul.topnav{margin-right: 202px;}
.margin5-L,#report_save{margin-right: 5px; margin-left: 0}
#forAdvanceSearch,.record_infor_a1 strong,#advanceSearch_incident,#advanceSearch_templates{margin-right: 10px; margin-left: 0;}
.margin50-L{margin-right: 50px;}
.icon_gray_downarrow, .icon_gray_uparrow, .icon_gray_leftarrow, .icon_gray_rightarrow{margin-right: 3px;}
#template_edit_ct{margin-right: 51%; margin-left:inherit;}
.margin10-L {margin-right: 10px; margin-left: 0}
.ul_subweatherevent{margin-right: 20px; margin-left: 0;}
.margin20-L{ margin-left: 0px;margin-right: 20px;;}
.univ-have-select-contact .left{  margin-right: 150px;padding-right: 5px;}
.univ-panel .colselection a{margin-right: 10px; margin-left: 0}
.w-titlebar a.settings_link{margin-right: 15px;}
.margin135-L{margin-right: 135px;margin-left: 0}
/*position left*/
.top_right{ left:10px;right:inherit;}
.show_ul,.gbqfb,.dashboard_more{left: 0;right:inherit; }
.gbqfb{border-right: 1px solid #cccccc; border-left: none}
.base_dialog_control_close{left: 5px; right:inherit;}
.b-setting-form-del{left:10px;right:inherit;}
.b-panel-title .info{left: 20px; right:inherit;}

/*position right*/
.logo_bg{right: 20px;}
.noti_content_div .successdiv{right:524px;}
.send_notification_btn{right: 390px;left: inherit;}
#universeWidgetContainer,.notification_widget{right: 0; left: inherit;}
div.olControlZoom{left: 10px; right: inherit;}
.olControlSearchContacts{right: 182px; left: inherit;}

/*left arrows */

/*right arrows */
.subtop_ul li a.icon_help{float: none;}
/*img*/
#proceed .span1,#btn_submit .span1{background:url(img/sign_leftbg.jpg) no-repeat; float:right;}
#proceed .span2,#btn_submit .span2{background:url(img/sign_centerbg.jpg) repeat-x; float:right;}
#proceed .span3,#btn_submit .span3{background:url(img/sign_rightbg.jpg) no-repeat; float:right;}
.select_diva a{background:url("img/select_righticon.jpg") no-repeat;float: left;margin-left:12px;}
.icon_tabpanel_expand.collapsed{background-position:-167px -70px;}
.b-setting-menu b.arrows{background: url("img/s_arrows.jpg") no-repeat scroll 0 0 transparent;right: 206px;left: inherit;}
.b-ui-treepanel-branch-icon { background: url("img/arrow_right.png") no-repeat scroll 0 0 transparent;}
.icon_arrowa{background-position: -183px -27px;}
.icon_arrowb{background-position: -156px -27px;}
.icon_arrowc{background-position:-238px -27px;}
.icon_arrowd{background-position:-208px -27px;}
.b-incidents-menu .phaseTemplateLi .arrows{background:url("img/arrow_left.png") no-repeat scroll 0 0 transparent; right: 78px; left: 0;}
.incident_setp.incident_border_b{ background: url("../incidents/img/icon_incident_edit.png") no-repeat scroll right center transparent;padding-right: 30px;}
.icon_arrow_expand.collapsed {background: url("img/icon_arrow_upblack.png") no-repeat scroll 0 0 transparent;}
.rolelisttable tr th{ background:url("img/arrow_right.png") no-repeat scroll right 6px center #FFFFFF ;padding: 8px 18px 8px 0px}
.close .btn_widgets_to{background:url("../universe/img/icn_go.png") no-repeat;}
.close .btn_widgets_to:hover{background:url("../universe/img/icn_go_hover.png") no-repeat;}
.open .btn_widgets_to{background:url("../universe/img/icn_come.png") no-repeat; float: left;}
.open .btn_widgets_to:hover{background:url("../universe/img/icn_come_hover.png") no-repeat;}
.widget-expansion.off{background:url("img/tri_white_right.png") no-repeat scroll 0 0 transparent}
.toolbar.polytools .icon.freeform a,.toolbar.polytools .icon.polygon a,.toolbar.polytools .icon.circle a,.toolbar.polytools .icon.rotate a,.toolbar.polytools .icon.stretch a,
.toolbar.polytools .icon.move a,.toolbar.polytools .icon.remove a{background-position: right;}
.universe_widgets, .widgets_horizontal{ border-left: 3px solid #999999;border-right: none}
.gis_region_library .action_expand{background-position:right 5px;}
.profile_man li{background-position: right;padding: 10px 35px 10px 10px;}
a.hideshow-hidden {background: url("img/tri_right.png") no-repeat scroll right center transparent;}
a.hideshow-showing,a.hideshow-hidden{background-position: right;padding-right: 15px;}
.e500,.e401{background-position: right 0;}
.arrow.arrow_moveout,.submenu_profilelist li a:hover i.arrow_moveout{background-position: 0 0;}
.arrow{background-position: 0 -28px;}
.b-toolprompt{
	background-position: right;
	padding-right: 20px;
}
 .left_incident_box #categorysContainer .b-node-level1{padding: 8px 15px 8px 0;background: url("img/arrow_right.png") no-repeat scroll 12px 12px transparent; background-position: right;}

/*input*/
input[type="checkbox"], input[type="radio"] { margin-left: 1px;margin-right:0;}

/**/
.noti_content_divc .divc_b, .divc_b{clear: both;}
.b-setting-content{border-right: 4px solid #f9c7ad; border-left: none;}
/*grid*/
#gridPager_right .ui-paging-info{text-align: left;}
.ui-jqgrid-empty-data{text-align: right}
/*ui-dialog*/
.ui-dialog .ui-dialog-title{float: right;}
.ui-dialog .ui-dialog-titlebar-close{left: 0.3em;right: inherit;}
.baseDialogControl .baseDialogControlHeader{background: url("../universe/img/icon_drag.png") no-repeat scroll 8% 50% #000000;text-align: right;padding-right: 10px;}
/*ztree*/
/*.ztree li span.button{float: right;}*/
.ztree li{text-align: right;}
.ztree li span.button.chk{ margin: 2px 0 0 3px;}
.ztree li ul.line{ background-position: right 0;}
.ztree li ul{padding: 0 18px 0 0;}
/*combox*/
.ui-combobox-toggle{left: 0;}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br{border-bottom-left-radius: 4px}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {border-top-left-radius: 4px;}
#template_form_tabs .b-incidents-checkbox{margin: 20px 15px 20px 0; margin-right: 15px;}
.jqgrid .ui-th-ltr, .jqgrid .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr,.jqgrid .ui-jqgrid tr.ui-row-ltr td{text-align: right;}
.jqgrid .ui-jqgrid tr.ui-row-ltr td>div{text-align: right}
.ui-dialog-titlebar .ui-dialog .ui-dialog-title,.ui-dialog.ui-widget .ui-dialog-title{float: right;}
.baseDialogControl .ui-helper-hidden-accessible{position: absolute;}

.rtl .cleditorGroup, .rtl .cleditorButton{
    float: right;
}
